<div id="gallery">
    <% images.forEach(function(image) { %>
    <div class="gallery-cell" style="background-image: url(<%= step.image_url(image, 'thumb', config) %>);"
        <% if (step.path === "/step-2" || step.path === "/step-3" || step.path === "/step-4") { %>
        x-images="<%= JSON.stringify([
            step.image_url(image, 'public', config),
            step.image_url(image, 'width=600,height=600,blur=30,fit=cover,gravity=auto', config)
        ]) %>"
        <% } else { %>
        x-images="<%= JSON.stringify([step.image_url(image, 'public', config)])%>"
        <% } %>
    >
        <img src="<%= step.image_url(image, 'public', config) %>" style="display: none" />
        <% if (step.path === "/step-2" || step.path === "/step-3" || step.path === "/step-4") { %>
            <img src="<%= step.image_url(image, 'width=600,height=600,blur=30,fit=cover,gravity=auto', config) %>" style="display: none" />
        <% } %>        
    </div>
    <% }); %>
</div>

<div id="fullimg">
    <a href="#" class="close">Close</a>
    <div class="imgs"></div>
</div>

<script>
    (function () {

        <% if(locals.fetchList) { %>
            const makeImageHTML = (image) => `
            <div class="gallery-cell" style="background-image: url(${image["thumb"]})" x-images="${escapeAttr(JSON.stringify([
                image["public"],
                image["blur"],
            ]))}">
                <img src="${escapeAttr(image["public"])}" style="display: none;">
            </div>
            `;
            fetch("https://interactive-gallery.confiture.workers.dev/")
                .then(res => res.json())
                .then(res => res.map(image => makeImageHTML(image)).join("\n"))
                .then(galleryHTML => gallery.innerHTML = galleryHTML)
                .then(() => initGallery())
                .catch(err => console.error(err));
        <% } else { %>
            initGallery();
        <% } %>

        function escapeAttr(str) {
            return str.replaceAll(/"/g, "&#34;").replaceAll(/'/g, "&#39;").replaceAll(/</g, "&#x3C;").replaceAll(/>/g, "&#x3E;");
        }

        function html_for_variant(url) {
            return `<div class="img-unit"><a class="url" href="${escapeAttr(url)}" target="_blank">${escapeAttr(url)}</a><div class="details"></div><img src="${escapeAttr(url)}" class="large" /></div>`;
        }

        function initGallery() {

            const closeFull = () => {
                document.querySelector("#fullimg").style.display = "none";
                document.querySelector("#gallery").style.display = "block";
                document.querySelector("#fullimg .details").innerHTML = "&nbsp;";
            }

            function openFull(img) {
                const imageURLs = JSON.parse(img.getAttribute("x-images"));
                const imagesHTML = imageURLs.map(html_for_variant);

                document.querySelector("#fullimg div.imgs").innerHTML = imagesHTML.join("\n");
                document.querySelector("#fullimg").style.display = "block";
                document.querySelector("#gallery").style.display = "none";

                document.querySelectorAll("#fullimg img").forEach(img => img.addEventListener("load", function(e) {
                    img.parentNode.querySelector("a.url").innerHTML = escapeAttr(decodeURI(img.src));
                    img.parentNode.querySelector(".details").innerHTML = "Real size: " + img.naturalWidth + "x" + img.naturalHeight + "; display size: " + img.clientWidth + "x" + img.clientHeight;
                }));

                document.querySelectorAll("#fullimg a.close, #fullimg img").forEach(o => {
                    o.addEventListener("click", () => closeFull());
                });
            }

            document.querySelectorAll("#gallery .gallery-cell").forEach(img => {
                img.addEventListener("click", () => openFull(img));
            });
        }
    })();
</script>